<div id="<%= dom_id shift %>">
  <p>
    <strong>Full name:</strong>
    <%= shift.full_name %>
  </p>

  <p>
    <strong>Shift date:</strong>
    <%= shift.shift_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= shift.start_time %>
  </p>

  <p>
    <strong>Finish time:</strong>
    <%= shift.finish_time %>
  </p>

  <p>
    <strong>Break length:</strong>
    <%= shift.break_length %>
  </p>

</div>
